body, html {
  background: #1c1c22;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 0;
  background-color: #19191f;
}
::-webkit-scrollbar-track {
  background-color: #1f2224;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #2e3136;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3c3f42;
}
::-webkit-resizer {
  width: 11px;
  height: 0;
}
::-webkit-scrollbar{
  width: 11px;
}
.navbar {
  background-color: transparent;
  box-shadow: 0 0 5px black;
}
.nav-link {
  color: #7c7c7c;
  transition: 0.15s;
}
.main {
  min-height: calc(100vh - 332px);
}
.table-dark.table-hover tbody tr:hover {
  transition: 0.2s;
}
tr {
  transition: 0.2s;
}
.discord-mobile-element {
  display: none;
}
.nav-item {
  padding-top: 2px;
  font-size: 18px;
  margin: 8px;
}
.nav-link:hover, .nav-link:active{
  color: #c9c9c9;
  transition: 0.15s;
}
.botAvatar {
  margin-left: 5px;
  width: 60px;
  margin-right: 10px;
}
.supportButton {
  position: absolute;
  right: 140px;
}
.partnerButton {
  position: absolute; 
  right: 10px;
}
.page-footer {
  margin-top: 70px;
  border-top: 1px solid #cacaca;
  float: top;
  color: #535353;
  flex: 0 0 auto;
  font-size: 16px;
  background-color: #1d1d24;
}
.footerAvatar {
  width: 200px;
  margin-left: 38%
}
.footerText {
  font-size: 25px;
  margin-left: 5px;
}
.footerFavicons {
  margin-left: 40%;
  margin-top: 15px;
  font-size: 21px;
}
.footerFavicons i {
  color: #FFFFFF !important;
  margin-left: 10px;
  transition: 0.15s;
}
.footerFavicons i:hover {
  color: rgb(160, 160, 160) !important;
  transition: 0.15s;
}
.footer-copyright {
  color: #999999;
}
.list-unstyled a {
  color: white;
  transition: 0.15s;
}
.list-unstyled a:hover {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: 0.15s;
}


/* buttons */
.bestButtons {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  cursor: pointer;
  padding: 10px 15px;
  background: transparent;
  font-size: 20px;
  color: white;
  border: 2px solid white;
  transition: 0.5s;
  border-radius: 4px; 
}
.bestButtons:hover, .bestButtons:active {
  outline: none;
  background-color: #ffffff;
  border-radius: 4px; 
  color: black;
  transition: 0.5s;
}


/* progress bar */
#nprogress {
  pointer-events: none;
  position: relative;
  z-index: 9999999
}
#nprogress .bar {
  background: #007bff;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative
}
.nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
  position: absolute
}


.errorAlert {
  text-align: start;
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  padding: 20px 35px;
  background-color: transparent;
  color: white;
  border: 1px solid #aea6a6;
  border-radius: 4px;
}
.errorAlert a {
  color: white;
  font-weight: 600;
  transition: 0.15s;
}
.errorAlert a:hover {
  color: #a0a0a0;
  font-weight: 600;
  text-decoration: none;
  transition: 0.15s;
}
.scroll-top {
  position: fixed;
  bottom: 15px;
  z-index: 99;
  right: 15px;
  cursor: pointer;
  padding: 7px 31px;
  font-size: 30px;
  background-color: #16161C;
  color: white;
  border-radius: 4px;
  border: 2px solid white;
  transition: 0.5s;
  opacity: 0.90;
}
.scroll-top:hover {
  outline: none;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: black;
  transition: 0.5s;
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .discord-mobile-element {
    display: inline-block;
  }
  .errorAlert {
    width: 80%;
    padding: 15px 25px;
  }
  .partnerButton {
    position: static; 
    right: 0;
  }
  .supportButton {
    position: static;
    right: 0;
  }
  .bestButtons {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    padding: 8px 13px;
    background: transparent;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    transition: 0.5s;
    border-radius: 4px; 
    margin-top: 8px;
  }
  .scroll-top {
    bottom: 18px;
    padding: 5px 25px;
    font-size: 25px;
  }
  .scroll-top:hover {
    border-radius: 4px;
  }
  .nav-item {
    text-align: center;
  }
  .page-footer {
    margin-top: 80px;
    font-size: 15px;
    text-align: left !important;
    background-color: #1b1b21;
  }
  .footerAvatar {
    width: 200px;
    margin-left: 15%;
  }
  .footer-copyright {
    color: #999999;
    font-size: 14px;
  }
  .mt-3 {
    margin-top: 5px !important;
  }
  .mb-3, .my-3 {
    margin-bottom: 5px !important;
  }
  .footerText {
    font-size: 20px;
  }
  .footerFavicons {
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footerAvatar {
    width: 180px;
    text-align: center;
    margin-left: auto;
  }
}
@media screen and (max-width: 320px) {
  .botAvatar {
    width: 50px;
  }
}
