:root {

    /* Elements */

    --toggle: #202025;
    --toggle-active: #007bff;
    --toggle-border: #2d2d2d;
    --toggle-border-hover: #3c3c3c;
    --toggle-border-active: #007bff;
    --toggle-inner: #dee2e6;
    --switch: #202025;
    --switch-hover: #2d2d2d;
    --switch-active: #007bff;
    --switch-border: #2d2d2d;
    --switch-dot: #dee2e6;
    --switch-dot-shadow: rgba(0, 9, 61, 0.1);
    --input: #202025;
    --input-border: #2d2d2d;
    --input-border-focus: #3c3c3c;
    --max-scroll: 8;
    --text: #d3d3d3;
    --border: #2d2d2d;
    --borderActive: #3c3c3c;
    --background: #202025;
    --arrow: #d3d3d3;
    --arrowActive: #d3d3d3;
    --listText: #d3d3d3;
    --listBackground: #202025;
    --listActive: #28282f;
    --listTextActive: #d3d3d3;
    --listBorder: #2d2d2d;
    --textFilled: #d3d3d3;
    --listHover: #28282f;
    --collapse: #1d1d22;

    /* Colors */

    --bc-primary: #007bff;
    --bc-secondary: #202025;
    --bc-dark-secondary: #161616;
    --bc-secondary-hover: #272727;
    --bc-secondary-active: #222222;
    --bc-success: #198754;
    --bc-warning: #ffc107;
    --bc-danger: #dc3545;
    --bc-cyan: #0ea0bd;
    --bc-outline-hover: #f5f5f0;
    --bc-outline-hover-text: #202025;
    --bc-outline-active: #d2d2ce;
    --bc-disabled: #949da7;
    --bc-disabled-text: #dbe1e7;
    --bc-disabled-opacity: 0.8;

}

/* Elements */
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.checkbox,
.radio,
.switch {
    position: relative;
}

.checkbox input,
.radio input,
.switch input {
    display: block;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: var(--input-width, 22px);
    height: var(--input-height, 22px);
}

.checkbox svg,
.radio svg,
.switch svg {
    fill: var(--svg-fill, none);
    stroke: var(--svg-stroke, none);
    stroke-width: var(--svg-stroke-width, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
    display: block;
    width: var(--svg-width, 28px);
    height: var(--svg-height, 28px);
    position: absolute;
    top: var(--svg-top, -3px);
    left: var(--svg-left, -3px);
    pointer-events: none;
    transform: scale(var(--svg-scale, 1)) translateZ(0);
    transition: stroke 0.3s, fill 0.3s, stroke-dashoffset 0.15s ease var(--svg-delay, 0s), transform var(--svg-transform-duration, 0s);
}

.checkbox,
.radio {
    --svg-fill: var(--toggle);
    --svg-stroke: var(--toggle-border);
    --svg-stroke-width: 1px;
}

.checkbox input:hover + svg,
.radio input:hover + svg {
    --svg-stroke: var(--toggle-border-hover);
}

.checkbox input:checked + svg,
.radio input:checked + svg {
    --svg-fill: var(--toggle-active);
    --svg-stroke: var(--toggle-border-active);
}

.checkbox .tick {
    --svg-width: 12px;
    --svg-height: 10px;
    --svg-fill: none;
    --svg-stroke: var(--toggle-inner);
    --svg-stroke-width: 2px;
    --svg-top: 6px;
    --svg-left: 5px;
    stroke-dasharray: 14px;
    stroke-dashoffset: var(--svg-offset, 14px);
}

.checkbox input:checked + svg + .tick {
    --svg-offset: 0;
    --svg-delay: .15s;
}

.radio {
    --svg-transform-duration: .1s;
}

.radio input:checked + svg + .inner {
    --svg-scale: 1;
}

.radio .inner {
    --svg-fill: var(--toggle-inner);
    --svg-stroke-width: 0;
    --svg-width: 14px;
    --svg-height: 14px;
    --svg-top: 4px;
    --svg-left: 4px;
    --svg-scale: 0;
}

.switch {
    --input-width: 40px;
    --svg-width: 36px;
    --svg-height: 18px;
    --svg-top: 2px;
    --svg-left: 2px;
    --svg-fill: var(--switch-dot);
}

.switch input {
    background: var(--b, var(--switch));
    border-radius: 11px;
    transition: background 0.3s;
    border: 1px solid var(--switch-border);
}

.switch input:hover {
    --b: var(--switch-hover);
}

.switch input:checked {
    --b: var(--switch-active);
}

.switch input:checked + svg {
    transform: scaleX(-1);
}

.switch.active input {
    --b: var(--switch-active);
}

.switch.active input:checked {
    --b: var(--switch);
}

.switch svg {
    filter: drop-shadow(0 0.5px 0.5px var(--switch-dot-shadow));
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdown select {
    display: none;
}

.dropdown > span {
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    display: block;
    position: relative;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    transition: all 0.3s ease;
}

.dropdown > span:before, .dropdown > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    top: 50%;
    right: 15px;
    background: var(--arrow);
    transition: all 0.3s ease;
}

.dropdown > span:before {
    margin-right: 4px;
    transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown > span:after {
    transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    top: 35px;
    left: 0;
    z-index: 1;
    right: 0;
    background: var(--listBackground);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid var(--listBorder);
}

.dropdown ul li {
    opacity: 0;
    transform: translate(6px, 0);
    transition: all 0.3s ease;
}

.dropdown ul li a {
    font-weight: 500 !important;
    cursor: pointer;
    display: block;
    padding: 10px 16px;
    color: var(--listText);
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
}

.dropdown ul li a:hover {
    color: var(--listTextActive);
}

.dropdown ul li.active a {
    color: var(--listTextActive);
    background: var(--listActive);
}

.dropdown ul li.active a:before {
    transform: rotate(45deg) scale(var(--scale));
}

.dropdown ul li.active a:after {
    transform: rotate(-45deg) scale(var(--scale));
}

.dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
    --scale: .9;
    opacity: 1;
}

.dropdown ul li:first-child a {
    border-radius: 6px 6px 0 0;
}

.dropdown ul li:last-child a {
    border-radius: 0 0 6px 6px;
}

.dropdown.filled > span {
    color: var(--textFilled);
}

.dropdown.open > span {
    border-color: var(--borderActive);
}

.dropdown.open > span:before, .dropdown.open > span:after {
    background: var(--arrowActive);
}

.dropdown.open > span:before {
    transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown.open > span:after {
    transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown.open ul {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.dropdown.open ul li {
    opacity: 1;
    transform: translate(0, 0);
}

.dropdown.open ul li:nth-child(1) {
    transition-delay: 80ms;
}

.dropdown.open ul li:nth-child(2) {
    transition-delay: 160ms;
}

.dropdown.open ul li:nth-child(3) {
    transition-delay: 240ms;
}

.dropdown.open ul li:nth-child(4) {
    transition-delay: 320ms;
}

.dropdown.open ul li:nth-child(5) {
    transition-delay: 400ms;
}

.dropdown.open ul li:nth-child(6) {
    transition-delay: 480ms;
}

.dropdown.open ul li:nth-child(7) {
    transition-delay: 560ms;
}

.dropdown.open ul li:nth-child(8) {
    transition-delay: 640ms;
}

.dropdown.open ul li:nth-child(9) {
    transition-delay: 720ms;
}

.dropdown.open ul li:nth-child(10) {
    transition-delay: 800ms;
}

select {
    --text: #C5C5C5;
    --border: #2D2D2D;
    --background: #202025;
}

select.dropdown {
    padding: 9px 16px;
    border-radius: 7px;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;
}

::placeholder {
    color: #4f4f4f;
}

.input-text {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dee2e6;
    background-color: var(--input);
    background-clip: padding-box;
    border: 1px solid var(--input-border);
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

.input-text:focus {
    border: 1px solid var(--input-border-focus);
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #d3d3d3;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

.dropdown ul li a:hover {
    background-color: var(--listHover);
}

.button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--bc-primary);
}

.btn-primary:hover {
    background-color: #0272ea;
}

.btn-primary:active {
    background-color: #0062cc;
}

.button.disabled, .button:disabled {
    background-color: var(--bc-disabled);
    color: var(--bc-disabled-text);
    opacity: var(--bc-disabled-opacity);
}

.btn-success {
    background-color: var(--bc-success);
}

.btn-success:hover {
    background-color: #17774b;
}

.btn-success:active {
    background-color: #146741;
}

.btn-danger {
    background-color: var(--bc-danger);
}

.btn-danger:hover {
    background-color: #bf2e3c;
}

.btn-danger:active {
    background-color: #a72a36;
}

.btn-warning {
    color: #1d1d1d;
    background-color: var(--bc-warning);
}

.btn-warning:hover {
    background-color: #e2ac08;
}

.btn-warning:active {
    background-color: #c39409;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn-outline:hover {
    color: var(--bc-outline-hover-text);
    background-color: var(--bc-outline-hover);
}

.btn-outline:active {
    background-color: var(--bc-outline-active);
}

.btn-secondary {
    background-color: var(--bc-secondary);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.btn-secondary:hover {
    background-color: var(--bc-secondary-hover);
}

.btn-secondary:active {
    background-color: var(--bc-secondary-active);
}

.btn-cyan {
    background-color: var(--bc-cyan);
}

.btn-cyan:hover {
    background-color: #0d90ab;
}

.btn-cyan:active {
    background-color: #0d7e96;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.collapseFW-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.collapseFW-button {
    cursor: pointer;
}

.collapseFW-show {
    display: block;
}
.collapseFW-button:after {
    transform: rotate(0deg);
    transition: 0.4s;
    margin-top: 2px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    float: right;
}

.collapseFW .active:after, .collapseFWend .active:after, .collapseFWstart .active:after, .collapseFWs .active:after {
    transform: rotate(180deg);
    transition: 0.4s;
}

.collapseFW {
    margin-bottom: .75rem;
    background-color: var(--collapse);
    border-radius: 6px;
    font-size: 20px;
    border: 1px solid var(--border);
}

.collapseFWstart {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--collapse);
    font-size: 20px;
    border: 1px solid var(--border);
}
.collapseFWend {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--collapse);
    font-size: 20px;
    border: 1px solid var(--border);
    border-top: none;
}
.collapseFWs {
    background-color: var(--collapse);
    font-size: 20px;
    border: 1px solid var(--border);
    border-top: none;
}

.collapseFW-button{
    font-size: 0.83em;
}

.collapseFW-arrow {
    float: right;
    margin-top: 4px;
}

.collapseFW-button {
    padding: 0.75rem 1rem;
    transition: 1.1s;
}

.collapseFW-content h5{
    margin: 0.75rem 1rem;
}

.collapseFW-content h5 {
    margin-top: 0;
}
